
<ion-slide-box slide-tabs-scrollable="false"  show-pager="false" ion-slide-tabs>
  <ion-slide ion-slide-tab-label="First">
      <ion-nav-view name="tab1"></ion-nav-view>
   </ion-slide>
  <ion-slide ion-slide-tab-label="Second">
      <ion-nav-view name="tab2"></ion-nav-view>
   </ion-slide>
</ion-slide-box>

<script id="tab1.html" type="text/ng-template">
<ion-view view-title="Tab1">
  <ion-content class="padding">
    <p>
     My content
    </p>
  </ion-content>
</ion-view>
</script>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Client</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Réception Conseil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="construct-outline"></ion-icon>
            <ion-label>Qualité Réparation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
