<body>
  <div class="container">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>NOTRE RECEPTION CONSEIL</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
  <ion-content class="main-content">
  <ion-list>
    <fieldset>
      <label for="card-holder">TOUR DE VEHICULE</label>
    </fieldset>
      <ion-item>
        <ion-label>
          <h2>Pare-chocs AV / AR-Calendre - Plaque immat.AV / AR-Caport - Hayon - Porte de coffre</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
         oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>

      </ion-item>
      
      <ion-item>
        <ion-label>
          <h2>Etat optique AVD / AVG / ARD / ARG - Pare-brise-Essuie-glace </h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Glace porte AVD / AVG / ARD / ARG -Custode - lunette AR - Essuie-glace</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Aile AVD / G- Porte AVD - AVG / ARG / ARD - Aile ARD / G </h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Retro D / G- Baguette aile AVD / G porte AVD / ARD / ARG , aile ARD / G</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Enjolivers ADV / AVG / ARD / ARG </h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
     
     
      <ion-item>
        <ion-label>
          <h2>Suspension AVD / AVG / ARD / ARG Etat des pneumatique AVD / AVG / ARD / ARG Rds </h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
         non
          </label>
        </div>
      </ion-item>
      <fieldset>
        <label for="card-holder">SOUS LE CAPOT</label>
      </fieldset>
      <ion-item>
        <ion-label>
          <h2>Etat: Faisceaux - Durifs - Batterie - Tension des courroies</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
     <ion-item>
        <ion-label>
          <h2>Niveau : Hulies - liquides de refroidissement /de frein/de LHM/de direction /de lave-glace</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
      <fieldset>
        <label for="card-holder">SUR LE PORT</label>
      </fieldset>
      <ion-item>
        <ion-label>
          <h2>Etat des gaines:Rotules de direction / de pivots / Transmissions / Crémaillières</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
       <ion-item>
        <ion-label>
          <h2>Etanchéité : Moteur / Bdv / Circuit de refroidissement / Hydraulique</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Etanchéité Freins : Etat des plaquettes + disque AV [sans démontage]</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Etat échappement : Tubulure / Tube AV / Poc / Silencieux / Tube AR</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <fieldset>
        <label for="card-holder">A L'INTERIEUR</label>
      </fieldset>
      <ion-item>
        <ion-label>
          <h2>Fonctionnement : Avertisseur optique / sonore / Montre / Voyants sécurité</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Fonctionnement : Feux position D/ G- Feux croissement D / G-Feux route D / G</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
           non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Feux Arrière D / G- Stop D / G- Troisième feux stop - feux plaque immat </h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Clignotants AVD/AVG/ARD/ARG/ Feux recul / Feux vrouillard AV /AR</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
            non
          </label>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Divers</h2>
        </ion-label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
           oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
          <label class="form-check-label" for="flexCheckChecked">
          non
          </label>
        </div>
      </ion-item>
  </ion-list>
  <div class="checkout2">
  <form class="form" autocomplete="off" novalidate>
      <fieldset class="fieldset-cl">
        <label for="card-ccv">Accord Client</label>
        <input type="num" id="card-number" class="input-cart-number" maxlength="20" />
      </fieldset>
      <fieldset class="fieldset-av">
        <label for="card-number">Accompte Versé</label>
        <input type="num" id="card-number" class="input-cart-number" maxlength="20" />
      </fieldset>
      
      <fieldset class="fieldset-CAR">
        <label for="card-ccv">Code Auto-radio</label>
        <input type="num" id="card-number" class="input-cart-number" maxlength="20" />
      </fieldset>
      <fieldset class="fieldset-date">
        <label for="card-number">Date de premier mise en circulation</label>
        <input type="num" id="card-number" class="input-cart-number" maxlength="20" />
      </fieldset>
      <ion-label>
        <label for="card-ccv">Choix</label>
      </ion-label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Tel Portable
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
        <label class="form-check-label" for="flexCheckChecked">
          Clé Sup
        </label>
      </div>
      <fieldset class="fieldset-tran">
        <label for="card-number">N°Op Transit</label>
        <input type="num" id="card-number" class="input-cart-number" maxlength="20" />
      </fieldset>
   </form>
  </div>
 
       </ion-content>
      </body>    
